# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

/test/test_cpu_cycles
/test/test_list_sort
/test/test_random
/test/test_rbtree

