# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

/test/test_cpu_cycles
/test/test_list_sort
/test/test_random
/test/test_rbtree

/test/rbtree_perf_student1/rbtree_perf_student1_test
/test/rbtree_perf_student2/rbtree_perf_student2_test

